<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<targets>
		<target name="jsonFile" xsi:type="File"
			  archiveNumbering="DateAndSequence"
			  archiveAboveSize="5000000"
			  fileName="E:\WebLogs\Creation\Log-${shortdate}.json">
			<layout xsi:type="JsonLayout">
				<attribute name="timestamp" layout="${longdate}" />
				<attribute name="category" layout="${level:upperCase=true}"/>
				<attribute name="message" layout="${message}" />
				<attribute name="machine" layout="${machinename}"/>
				<attribute name="appDomain" layout="${appdomain}"/>
				<attribute name="processId" layout="${processid}"/>
				<attribute name="processName" layout="${processname}"/>
				<attribute name="threadId" layout="${threadid}"/>
				<attribute name="threadName" layout="${threadname}"/>
				<attribute name="callerId" layout="${event-properties:item=callerId}"/>
				<attribute name="reqURL" layout="${event-properties:item=reqURL}"/>
				<attribute name="requestId" layout="${event-properties:item=requestId}"/>
				<attribute name="RequestInfo" layout="${event-properties:item=RequestInfo}"/>
				<attribute name="Exception Type" layout="${exception:format=Type}"/>
				<attribute name="Exception Message" layout="${exception:format=Message}"/>
				<attribute name="StackTrace" layout="${exception:format=StackTrace}"/>
				<attribute name="Additional Info" layout="${exception:format=message}"/>
			</layout>
		</target>
		<target name="exceptionFile" xsi:type="File"
			archiveNumbering="DateAndSequence"
			archiveAboveSize="5000000"
			fileName="E:\WebLogs\Creation\LogException-${shortdate}.json">
			<layout xsi:type="JsonLayout">
				<attribute name="timestamp" layout="${longdate}" />
				<attribute name="category" layout="${level:upperCase=true}"/>
				<attribute name="message" layout="${message}" />
				<attribute name="machine" layout="${machinename}"/>
				<attribute name="appDomain" layout="${appdomain}"/>
				<attribute name="processId" layout="${processid}"/>
				<attribute name="processName" layout="${processname}"/>
				<attribute name="threadId" layout="${threadid}"/>
				<attribute name="threadName" layout="${threadname}"/>
				<attribute name="callerId" layout="${event-properties:item=callerId}"/>
				<attribute name="requestId" layout="${event-properties:item=requestId}"/>
				<attribute name="RequestInfo" layout="${event-properties:item=RequestInfo}"/>
				<attribute name="Exception Type" layout="${exception:format=Type}"/>
				<attribute name="Exception Message" layout="${exception:format=Message}"/>
				<attribute name="StackTrace" layout="${exception:format=StackTrace}"/>
				<attribute name="Additional Info" layout="${exception:format=message}"/>
			</layout>
		</target>
	</targets>
	<rules>
		<logger name="*" minlevel="Debug" writeTo="jsonFile" />
		<logger name="*"  minlevel="Warn" writeTo="exceptionFile"/>
	</rules>
</nlog>
